@ var head={
<title>Log管理</title>
@};  var ctrls= "ng-controller='LogCtrls'" ; var body={


@if( so.hasPermission("/system/log/excel")) {
  <div  ng-model="so_excel" ng-init="so_excel=true"></div>
@}if( so.hasPermission("/system/log/chart")) {
  <div  ng-model="so_chart" ng-init="so_chart=true"></div>
@}

<div class="easyui-layout" data-options="fit : true,border : false">
		<div data-options="region:'north',title:'查询条件',border:false" style="height: 120px; overflow: hidden;">
			<form id="searchForm" method="post">
				<table class="table table-hover table-condensed" style="display: none;">
					<tr>
						<th>事件类型</th>
						<td>
						<select name="operation" id="operation" class="easyui-combobox" data-options="width:140,height:29,editable:false,panelHeight:'auto'"> 
						</select></td>
					</tr>
					<tr>
						<th>日期</th>
						<td colspan="3"><input class="span2" name="dateStart" placeholder="点击选择时间" onclick="WdatePicker({readOnly:true,dateFmt:'yyyy-MM-dd HH:mm:ss'})" />
						至<input class="span2" name="dateEnd" placeholder="点击选择时间" onclick="WdatePicker({readOnly:true,dateFmt:'yyyy-MM-dd HH:mm:ss'})" /></td>
					</tr>
				</table>
			</form>
		</div>
		<div data-options="region:'center',border:false">
			<table id="dataGrid"></table>
		</div>
	</div>
	
	<div id="toolbar" style="display: none;">
		<a href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'brick_add',plain:true" ng-click="searchFun();">过滤条件</a>
		<a href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'brick_delete',plain:true" ng-click="cleanFun();">清空条件</a>
	  <a  ng-show="so_chart" href="javascript:void(0);" id="chart"  class="easyui-linkbutton" data-options="iconCls:'chart_bar',plain:true" ng-click="chart();">查看统计图</a>
	  <a ng-show="so_excel" href="javascript:void(0);"    class="easyui-linkbutton" data-options="iconCls:'excel',plain:true" ng-click="excel();">导出Excel</a>
	
	</div>
	<div id="menu" class="easyui-menu" style="width: 120px; display: none;">
			<div ng-click="deleteFun();" data-options="iconCls:'pencil_delete'">删除</div>
	</div>
</div>	
@};var js={ 

<script type="text/javascript">
var formatterFun =function(value, row, index) {
	var str = '';
	@if( so.hasPermission("/system/log/delete")) 
		str += $.formatString('<img   onclick="$(this).scope().deleteFun(\'{0}\');" src="{1}" title="删除"/> ', row.id, '${CONTEXT_PATH}/static/js/ext/style/images/extjs_icons/delete.png');
    @
    return str;
}
</script>

<script src="${CONTEXT_PATH}/static/js/Highcharts-3.0.1/js/highcharts.js"></script>
<script src="${CONTEXT_PATH}/static/js/Highcharts-3.0.1/js/modules/exporting.js"></script>

<script src="${CONTEXT_PATH}/static/app/ctrls/log-ctrls.js" type="text/javascript"></script>

@}; include("../layout/_layout.html",{head:head,body:body,js:js,ctrls:ctrls}){}	
	
