<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" id="ng-app"   class="ng-app:MainApp" ng-app="MainApp">
<head>
    <!--[if lte IE 8]>
    <script>
        document.createElement('ng-include');
        document.createElement('ng-pluralize');
        document.createElement('ng-view');

        // Optionally these for CSS
        document.createElement('ng:include');
        document.createElement('ng:pluralize');
        document.createElement('ng:view');
    </script>
    <![endif]-->

@ include("../common/_css.html"){}
    <script type="text/javascript">
        var PATH='${CONTEXT_PATH}';
    </script>
${head!}


</head>
<body  ${ctrls!}  >

${body!}

@ include("../common/_js.html"){} 

${js!}
</body>
</html>