<div class="easyui-layout" data-options="fit:true,border:false"    >

	<div data-options="region:'north',border:false" style="height: 180px; overflow: hidden;">
		<div id="layout_east_calendar"></div>
	</div>
	<!--<div   data-options="region:'center',border:false" style="overflow: hidden;">
		<div id="layout_east_onlinePanel" data-options="fit:true,border:false" title="收到的捐助">
			<div class="well well-small" style="margin: 3px;">
				<span class="label label-success">支付宝帐号 :<br>jayqqaa12\@yahoo.com.cn</span><br />
				<span class="label label-success">扫描二维码捐赠:</span><br />
				<img alt="二维码支付" src="${CONTEXT_PATH}/static/images/12shu-zfb.png" />
				<hr />
				<div >
					<span class="label label-success">捐献列表（目前还没人）</span><br />
				</div>
				<hr />
				如果发现系统有BUG，请给我发Email:476335667\@qq.com
			</div>
		</div>
	</div>-->
</div>
<div ng-init="init_east()"></div> 

