@ var head={
<title>项目信息</title>
<link rel="stylesheet" href="${CONTEXT_PATH}/static/js/kindeditor-4.1.10/themes/simple/simple.css">

@}; var ctrls= "ng-controller='PrjInfoCtrls'" ; var body ={

<div class="easyui-layout" data-options="fit : true,border : false"  >

@if( so.hasPermission("/project/view")) {
  <div  ng-model="so_view" ng-init="so_view=true"></div>

 @} if( so.hasPermission("/projectPlan/chgperson")) {
	 <div  ng-model="so_chgperson" ng-init="so_chgperson=true"></div>
	 @}

		<div data-options="region:'north',title:'查询条件',border:false" style="height: 100px; overflow: hidden;">
			<form id="searchForm">
				<table class="table table-hover table-condensed" style="display: none;">
					<tr>
						<th>项目名称</th>
						<td><input name="auditprj.name-*" placeholder="可以模糊查询" class="span2 easyui-textbox" /></td>
						<th>项目开始时间</th>
						<td ><input class="span2 easyui-datebox" name="createdateStart" placeholder="点击选择时间" /></td><td>至</td><td><input class="span2 easyui-datebox" name="createdateEnd" placeholder="点击选择时间"  /></td>


					</tr>
					<tr>
						<th>项目结束时间</th>
						<td  >
							<input class="span2 easyui-datebox" name="enddateStart"   placeholder="点击选择时间"/></td><td>至</td><td><input class="span2 easyui-datebox" name="enddateEnd" placeholder="点击选择时间"     />
				    	</td>
						<th>项目发起人</th>
						<td>
							<select   multiple="true" class="easyui-combogrid span2"  id="prjManager" style="width: 140px; height: 29px;"	 />
							<input    name="auditprj.prjManager-in" id="prjManagers"  type="hidden" />
						</td>
					</tr>

				</table>
			</form>
		</div>
		<div data-options="region:'center',border:false" style="height: auto">
			<table id="dataGrid" class="table table-hover table-condensed"></table>
		</div>
	
	<div id="toolbar" style="display: none;">
	 	<a  href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'brick_add',plain:true" ng-click="searchFun();">过滤条件</a>
		<a href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'brick_delete',plain:true" ng-click="cleanFun();">清空条件</a>
	
	</div>



	<!--  dialog  view  -->
  <div id="dlg2"  class="easyui-dialog" style=" width:450px;height:380px;padding:5px 10px" closed="true" buttons="#dlg-buttons2"  data-options="resizable:true,modal:true  ,fit:true">
   <div class="easyui-layout" data-options="fit:true,border:false">
	<div data-options="region:'center',border:false" title="" style="overflow: hidden;">
		<input name="prj.id" type="hidden"  />
			<table class="table table-hover table-condensed">
				<tr><td colspan="4">
					<textarea   id="note2" cols="50" rows="5" style="visibility: hidden;"> </textarea></td></tr>
			</table>
	</div>

  </div>
  </div>
	 <div id="dlg-buttons2">
		 <a href="javascript:void(0)" class="easyui-linkbutton"  onclick="javascript:$('#dlg2').dialog('close')">取消</a>
	 </div>



	 <div id="dlg-person" class="easyui-dialog" style=" width:450px;height:280px;padding:5px 10px ;overflow: hidden;" closed="true"
		  buttons="#dlg-buttons-person"  data-options="modal:true  ,fit:true">


		 <div data-options="region:'center',border:false, fit:true" style="height: 80%; " >
			 <table id="personselectGrid"></table>

		 </div>
	 </div>
	 <div  id="dlg-buttons-person"  data-options="region:'center',border:false, fit:true">
		 <a href="javascript:void(0)" class="easyui-linkbutton"  ng-click="personOk()" >刷新</a>
		 <a href="javascript:void(0)" class="easyui-linkbutton"  onclick="javascript:$('#dlg-person').dialog('close')">取消</a>
	 </div>



 
 <div ng-init="load()"></div>
</div>  
@};var js={
<script  type="text/javascript">
var  formatterFun=function(value, row, index) {
		var str = '';
		@if( so.hasPermission("/project/view")) 
			str += $.formatString('<img   onclick="$(this).scope().viewFun(\'{0}\')"  src="{1}" title="项目查看"/>', row.id, PATH+'/static/js/ext/style/images/extjs_icons/notes/note_go.png');
		 @if( so.hasPermission("/projectPlan/chgperson"))
		str += $.formatString('<img   onclick="$(this).scope().personFun(\'{0}\');" src="{1}" title="项目人员管理"/>', row.id, PATH+'/static/js/ext/style/images/extjs_icons/status_online.png');

@
			return str;
}
</script>
<script type="text/javascript" src="${CONTEXT_PATH}/static/js/kindeditor-4.1.10/kindeditor-all-min.js" charset="utf-8"></script>
<script src="${CONTEXT_PATH}/static/app/ctrls/prjplanindex-ctrls.js" type="text/javascript" charset="utf-8"></script>

 @}; include("../layout/_layout.html",{head:head,body:body,js:js,ctrls:ctrls}) {}
